<div class="tool-label">
  <p-button icon="pi pi-arrow-left" routerLink="/"
    styleClass="p-button-rounded p-button-text p-button-raised"></p-button>
</div>

<div class="principal">
  <div class="card-container">
    <div class="ui-g-10" *ngFor="let serie of series">
      <p-card class="ui-g" header="{{ serie.name }}" [style]="{ width: '425px', height:'450px' }">
        <p-scrollPanel id="teste" [style]="{width: '100%', height: '120px'}">
          <p>
            {{ serie.overview }}
          </p>
        </p-scrollPanel>
        <ng-template pTemplate="header">
          <img *ngIf="imagens" id="img-card" alt="Card" [src]="imagens[series.indexOf(serie)]" />
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
