body{
    margin: 0;
    padding: 0;
}

.p-button {
  background: #3a4f50;
  color: #f4fefd;
  border: none;
}

.p-button.p-button-text {
  color: #f4fefd;
}

.p-button:enabled:hover  {
  cursor: pointer;
  background: #0ef6cc;
  transform: scale(1.5);
}

.p-card .p-card-title {
  font-size: 20px;

}

.p-card {
  margin-left: 5px;
}

.p-card .p-card-title {
  margin-bottom: 0;
}

.p-card .p-card-content {
  padding: 0;
}
